body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    margin: 20px 0;
}

.header h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.content-wrapper {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
    background-color: #e0e0e0;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.sidebar h2, .content h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.email {
    text-align: center;
    margin: 20px;
}

@media only screen and (max-width: 575px) {
    .container {
        display: block;
        margin: 0;
        padding: 0;
    }

    .content-wrapper, .sidebar-wrapper {
        width: 90%;
        margin: 10px auto;
    }

    .email {
        width: 90%;
        margin: 10px auto;
    }
}
